<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title th:text="#{carList.title}"></title>
  </head>
  <body>
    <h1 th:text="#{carList.title}"></h1>

    <table border="1">
      <thead>
        <tr>
          <th th:text="#{carList.carId}"></th>
          <th th:text="#{carList.carName}"></th>
          <th th:text="#{carList.numberPlate}"></th>
          <th th:text="#{carList.status}"></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="car : ${carList}">
          <td th:text="${car.carId}"></td>
          <td th:text="${car.carName}"></td>
          <td th:text="${car.numberPlate}"></td>
          <td th:text="${car.status}"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
