<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title th:text="#{carList.title}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
  </head>
  <body>
    <h1 th:text="#{carList.title}"></h1>

    <p
      th:if="${completeMessage}"
      class="message"
      th:text="#{${completeMessage}}"
    ></p>

    <p>
      <a
        class="button"
        th:href="@{/cars/new}"
        th:text="#{carList.toRegist}"
      ></a>
    </p>

    <form th:action="@{/cars}" th:object="${carSearchForm}" method="get">
      <label for="carName" th:text="#{carList.searchCarName}"></label>
      <input type="text" th:field="*{carName}" />

      <label for="status" th:text="#{carList.searchStatus}"></label>
      <select th:field="*{status}">
        <option value="" th:text="#{carList.statusUnselected}"></option>
        <option
          th:each="s : ${statusList}"
          th:value="${s}"
          th:text="${s}"
        ></option>
      </select>

      <button type="submit" th:text="#{common.search}"></button>
    </form>

    <table border="1">
      <thead>
        <tr>
          <th th:text="#{carList.carId}"></th>
          <th th:text="#{carList.carName}"></th>
          <th th:text="#{carList.numberPlate}"></th>
          <th th:text="#{carList.status}"></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="car : ${carList}">
          <td>
            <a
              th:href="@{/cars/{id}/edit(id=${car.carId})}"
              th:text="${car.carId}"
            ></a>
          </td>
          <td th:text="${car.carName}"></td>
          <td
            th:with="p=${car.numberPlate}, re='^([^0-9]+)([0-9][0-9]?[0-9]?)([^0-9])([0-9][0-9]?[0-9]?[0-9]?)$'"
          >
            <span
              th:if="${p.matches(re)}"
              class="plate"
              th:with="num=${p.replaceFirst(re, '$4')}"
            >
              <span
                class="plate-top"
                th:text="${p.replaceFirst(re, '$1') + ' ' + p.replaceFirst(re, '$2')}"
              ></span>
              <span class="plate-bottom">
                <span
                  class="plate-kana"
                  th:text="${p.replaceFirst(re, '$3')}"
                ></span>
                <span
                  class="plate-num"
                  th:text="${#strings.length(num) == 4
                      ? #strings.substring(num, 0, 2) + '-' + #strings.substring(num, 2)
                      : #strings.repeat('・', 4 - #strings.length(num)) + num}"
                ></span>
              </span>
            </span>
            <span
              th:unless="${p.matches(re)}"
              class="plate-plain"
              th:text="${p}"
            ></span>
          </td>
          <td>
            <span
              class="status"
              th:classappend="${'status-' + car.status}"
              th:text="${car.status}"
            ></span>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
